{% extends 'blog/base.html' %}
{% block content %}
    <h3>Announcements</h3>
    <br>
    <p><strong>Nov 27, 2022</strong> - Reset password functionality has been implemented.</p>
    <p><strong>Nov 29, 2022</strong> - Contact form implemented. If the sending takes too long,
        please refresh the page; sometimes the server time gets slowed due to intensive traffic.
        If that does not help, please contact the admins at art.admin@mail.bg.</p>
    <p><strong>Dec 02, 2022</strong> - Successful customisation of the admin site carried out.</p>
    <p><strong>Dec 03, 2022</strong> - User roles defined to be viewed in the user's profile.</p>
    <p><strong>Dec 03, 2022</strong> - Successful customisation of the admin site carried out.</p>
    <p><strong>Oct 27, 2023</strong> - Minor app updates done in order to comply with the latest Python 3.12</p>
{% endblock content %}
